<div id="newsteler-section" class="container-fluid">
    <div class="container py-5 text-center">
        <p class="text-center text-white fs-1 fw-bold pt-5">SUSCRÍBETE EN NUESTRO NEWSLETTER</p>
        <p class="text-center text-white fs-3">
            <span class="fs-3 fw-bold">y obtén las mejores recetas que tenemos en </span><span
                id="ricomida-smol">Ricomida</span></p>
        <button class="btn btn-outline-light btn-lg px-5 py-1 my-5 col-xs-12 col-lg-2">Empezar</button>
    </div>
</div>

<footer class="text-center">
    <p class="navbar-brand mb-0 fs-1 logo-texto text-white py-4">Ricomida</p>
</footer>

<style>
    #ricomida-smol{
		font-family: 'Lobster', cursive;
	}

	#newsteler-section{
		background-color: #DC3545;
	}
	footer{
		background-color: #373A3C;
	}
</style>