<div class="row me-5 ms-5">
    <section class="col-xs-12 col-lg-6">
        <div>
            <hr class="border border-dark border-1 opacity-100 my-3 py-0 d-sm-block d-md-block d-lg-none ">
            <img src="principal.jpg" class="w-100" alt="principal">
        </div>
    </section>
    <section class="col-xs-12 col-lg-6">
        <div class="mt-xxl-4">
            <h1 class="display-6 fw-bold pe-lg-5 mt-3 mt-lg-0 text-lg-start text-center">PIZZA AL ESTILO CHICAGO CON ESPINACAS Y CHAMPIÑONES</h1>
            <hr class="border border-dark border-1 opacity-100">
            <h2 class="fw-bold text-lg-start text-center fs-3 my-2">110 MIN / 6 A 8 PORCIONES</h2>

            <div id="botones" class="mt-4 text-center text-lg-start">
                <button id="enviarCorreo" type="button" class="btn btn-outline-dark fw-bold me-2"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Presiona para enviar a tu correo" data-toggle="modal"
                    data-target="#modalCorreo">
                    Enviar por correo
                </button>

                <div id="modalCorreo" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title logo-texto">Ricomida</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="fs-5">El correo fue enviado correctamente...</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark mx-auto">¡Entendido!</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-outline-dark fw-bold ms-2" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-title="Agrega esta receta a tus favoritos">
                    Añadir a favoritos
                </button>
            </div>
        </div>
    </section>
</div>