<nav class="navbar navbar-expand-lg nav-customi">
    <div class="container">
        <span class="navbar-brand mb-0 ms-5 h1 logo-texto text-white">Ricomida</span>
        <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-5 ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ms-4" href="#">Recetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ms-4" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ms-4" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .nav-customi{
        background-color: #373A3C;
    }

    .navbar-toggler {
        filter: brightness(0) invert(1);
    }
</style>